* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background: url(../img/artflow_201910201333.png) no-repeat top center fixed, linear-gradient(rgb(205, 240, 252),rgb(0, 0, 148));
    background-size: 100vw 61vh;    
    background-blend-mode: normal;
    overflow: hidden;
}
.bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    background: url(../img/plants.png) no-repeat bottom center fixed;
    background-size: 100vw 120vh;
}
.bg2 {
    background: linear-gradient(rgb(0, 0, 148) 0%, rgb(34, 55, 107) 30%, rgb(30, 49, 95) 100%);
    position: absolute;
    bottom: 0;
    height: 40vh;
    width: 100vw;
}
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fish {
    background: url(../img/ZKZl.gif) center/contain no-repeat;
    height: 150px;
    width: 150px;
    animation: swim 10s infinite linear;
    z-index: 9999;   
}
.f1 {
    height: 80px;
}
.f2 {
    animation-duration: 5s;
}
.f3 {
    animation-duration: 20s;
    height: 120px;
}
.s1, .s2, .s3, .s4 {
    position: absolute;
    height: 5vh;
    z-index: 1;
    animation-duration: 9s;
}

.s1 {
    top: 45vh;
}
.s2 {
    top: 50vh;
}
.s3 {
    top: 47.5vh;
    left: -2vw;
}
.s4 {
    top: 48vh;
    left: 2vw;
}
@keyframes swim {
    0%, 100% {transform: translateX(0) scaleX(-1)}
    45% {transform: translateX(calc(95vw - 200px)) scaleX(-1)}
    50% {transform: translateX(calc(100vw - 200px)) scaleX(1)}
    95% {transform: translateX(5vw) scaleX(1)}
}
.bubble {
    position: absolute;
    bottom: -20px;
    width: 2vmin;
    height: 2vmin;
    background-color: white;
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%);
    border-radius: 50%;
    animation: bubani 2s infinite linear;
}
.b1 {
    left: 10%;
    animation-duration: 4s;
    width: 5vmin;
    height: 5vmin;
    z-index: 8888;
}
.b2 {
    left: 30%;
    animation-duration: 5s;
}
.b3 {
    left: 44%;
    animation-duration: 3s;
}
.b4 {
    left: 66%;
    animation-duration: 2.5s;
}
.b5 {
    left: 90%;
    animation-duration: 4s;
}
.big {
    width: 8vmin;
    height: 8vmin;
    z-index: 8888;
}
.b1.big {
    left: 15%;
    animation-duration: 3s;
}
.b3.big {
    left: 39%;
    animation-duration: 4s;
}
.b5.big {
    left: 85%;
    animation-duration: 4s;
    animation-delay: 2s;
}
.delay{
    animation-delay: 2s;
}
.delay1 {
    animation-delay: 3s;
    animation-duration: 2s;
}
@keyframes bubani {
    0% {transform: translate(0, 0) scale(1); opacity: 1;}
    10% {transform: translate(-1vw , -10vh) scale(2); opacity: .2;}
    30% {transform: translate(0vw, -30vh) scale(0.8); opacity: .5;}
    80% {transform: translate(1vw, -80vh) scale(2); opacity: .8;}
    100% {transform: translate(0vw, -110vh) scale(1); opacity: .2;}
}
.shark {
    background: url(../img/pngguru.com-id-nhmxa.png) center/contain no-repeat;
    width: 50vmin;
    height: 50vmin;
    position: absolute;
    animation: shark 2s ease-in-out infinite;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50vmin;
    z-index: 999999;
}
@keyframes shark {
    0%, 100% {transform: translateY(0)}
    50% {transform: translateY(-25vh);}
}
/* .light {
    position: absolute;
    top: -5vh;
    height: 100vh;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(20deg);
    box-shadow: 4px 4px 50px 10px rgba(255, 255, 255, 0.8);
    clip-path: polygon(50% 0%, 0 99%, 100% 100%);
}

.l1 {left: 20vw;}
.l2 {left: 50vw;}
.l3 {left: 55vw; top: -10vh;}
.l4 {left: 80vw; top: -7vh;}
.l5 {left: 10vw;} */

/* .fish:hover {
    animation-play-state: paused;   
} */
/* .plant {
    height: 50vmin;
    width: 50vmin;
    background: url(../img/kisspng-aquatic-plants-cartoon-vector-graphics-image-seagr-5cb673474fdb22.5874746715554609353271.png) center/contain no-repeat;
    position: absolute;
    bottom: -9vmin;
    animation: plant 3s ease-in-out infinite;
}
@keyframes plant {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
} */
/* @keyframes plant {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
} */
.fish2 {
    background: url(../img/ZKZl.gif) center/contain no-repeat;
    height: 100px;
    width: 100px;
    animation: swim2 7s infinite linear;
    z-index: 999;
    position: absolute;
    top: 70vh;
    left: 0;
}
@keyframes swim2 {
    0%, 100% {transform: translate(0, -20vh) scale(-1, 1)}
    25% {transform: translate(calc(45vw - 100px), 0vh) scale(-2, 2)}
    45% {transform: translate(calc(95vw - 100px), -20vh) scale(-1, 1)}
    50% {transform: translate(calc(100vw - 100px), -20vh) scale(1, 1)}
    75% {transform: translate(calc(70vw - 100px), -40vh) scale(.7, .7)}
    95% {transform: translate(5vw, -20vh) scale(1, 1)}
}